div:hover {
  border: solid gray;
}

div:nth-child(3) {
  color: rgb(70, 196, 70);
}

div:nth-child(4) {
  color: rgb(255, 136, 0);
}

div:nth-child(5) {
  color: rgb(125, 134, 125);
  font-size: x-large;
}

div:nth-child(6) {
  color: rgb(17, 0, 255);
}

div:nth-child(7) {
  color: rgb(0, 174, 255);
}

h3 {
  font-family: monospace;
}

div:nth-child(odd) {
  font-style: italic;
}
